<% include ../templates/shop-header-inner %>
<section id="" class="inner-grey-bg pb-5 pt-4">
    <div class="container">
	    <div class="form-row">
			<div class="col-lg-12 col-md-12">
				<div class="row">
	          		<div class="col-lg-8 col-md-12 col-sm-12 col-12">
	          			<div class="main-post-box white-bg br-6 p-15 mb-3 cart-table">
							<h2>Warenkorb</h2>
			           		<div class="table-responsive">
							    <table class="table mb-0" cellspacing="0">
									<thead>
										<tr>
											
											<th  width="20%" class="product-thumbnail">Mein Warenkorb</th>
											<th width="20%" class="product-price">Surname</th>
											<th width="20%" class="product-price">Gewicht</th>
											<th width="20%" class="product-price">Preis</th>
											<th align="center" width="15%" class="product-quantity">Menge</th>
											<th align="right" width="20%" class="product-subtotal">Gesamt</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
			                            <tr>
											
											<td  class=" product-image">
												<a class="product-thumbnail" href="javascript:;">
													 <img src="/images/foods/food-1.jpg">
												</a>	
											</td>
											<td class="product-name">
			                                <a href="">Product Name</a>
			                               </td>
			                               <td  class=" product-kilo">
			                            	<a href="javascript:;">10Kg</a>	
			                               </td>
											<td class="product-price">
												<span class="chf">CHF</span>16.00
											</td>

											<td class="product-quantity add-tocart-grouped">
												<select prod-id="" var-id="" per-kilo="" kilo-gram="" class="quantity" name="quantity">
														<option value="">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="15">15</option>
														<option value="20">20</option>
														<option value="30">30</option>
														<option value="40">40</option>
													</select>									
											</td>

											<td align="right" class="product-subtotal">
												<span class="amount">
													<span class="chf">CHF</span>16.00
												</span>
											</td>
											<td class="product-remove">
												<a href="javascript:;" class="remove_cart_items" data-id="" title="Remove this item">&times;</a>
											</td>
										</tr>
										<tr>
											
											<td  class=" product-image">
												<a class="product-thumbnail" href="javascript:;">
													 <img src="/images/foods/food-1.jpg">
												</a>	
											</td>
											<td class="product-name">
			                                <a href="">Product Name</a>
			                               </td>
			                               <td  class=" product-kilo">
			                            	<a href="javascript:;">10Kg</a>	
			                               </td>
											<td class="product-price">
												<span class="chf">CHF</span>16.00
											</td>

											<td class="product-quantity add-tocart-grouped">
							
												<select prod-id="" var-id="" per-kilo="" kilo-gram="" class="quantity" name="quantity">
														<option value="">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="15">15</option>
														<option value="20">20</option>
														<option value="30">30</option>
														<option value="40">40</option>
													</select>									
											</td>

											<td align="right" class="product-subtotal">
												<span class="amount">
													<span class="chf">CHF</span>16.00
												</span>
											</td>
											<td class="product-remove">
												<a href="javascript:;" class="remove_cart_items" data-id="" title="Remove this item">&times;</a>
											</td>
										</tr>
										<tr>
											
											<td  class=" product-image">
												<a class="product-thumbnail" href="javascript:;">
													 <img src="/images/foods/food-1.jpg">
												</a>	
											</td>
											<td class="product-name">
			                                <a href="">Product Name</a>
			                               </td>
			                               <td  class=" product-kilo">
			                            	<a href="javascript:;">10Kg</a>	
			                               </td>
											<td class="product-price">
												<span class="chf">CHF</span>16.00
											</td>

											<td class="product-quantity add-tocart-grouped">
												<select prod-id="" var-id="" per-kilo="" kilo-gram="" class="quantity" name="quantity">
														<option value="">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="15">15</option>
														<option value="20">20</option>
														<option value="30">30</option>
														<option value="40">40</option>
													</select>									
											</td>

											<td align="right" class="product-subtotal">
												<span class="amount">
													<span class="chf">CHF</span>16.00
												</span>
											</td>
											<td class="product-remove">
												<a href="javascript:;" class="remove_cart_items" data-id="" title="Remove this item">&times;</a>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td align="right" colspan="6" class="product-grdtotal">Zwischensumme</td>
											<td align="right" colspan="1" class="product-grdtotal">
												<span class="chf">CHF</span>16.00
											</td>
										</tr>
									</tfoot>
								</table>
								<table class="table table-border-none">
									<thead>
										<tr>
											<td colspan="3">
												<a href="/shop" class="btn btn-md btn-primary">Weiter Einkaufen</a>
											</td>
											<td align="right" colspan="3">
												<a href="checkout" class="btn btn-primary btn-md">Zur Kasse</a>
											</td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-12 ">
						<div class="main-post-box white-bg pb-3">
							<div class="cart-detail cart-total bg-light p-2 same-height cart-table">
								  <h2>Warenkorb</h2>
				                  <p class="mb-3">
				                     <span>Zwischensumme</span>                   
				                     <span>CHF 6056.00</span>
				                  </p>
				                  <p class="mb-3 ">
				                     <span>Rabatt</span>
				                     <span>CHF 12.00</span>
				                  </p>
				                  <hr>
				                  <p class="total-price">
				                     <span>Gesamt</span>
				                     <span>CHF 6044.00</span>
				                  </p>
				                  <hr>
				            </div>
				            <a href="checkout" class="btn btn-primary btn-md btn-block btn-cart">Zur Kasse</a>
				            <a href="shop" class="btn btn-primary btn-md btn-block btn-cart">
				            	<i class="fa fa-angle-left"></i> Weiter einkaufen
				            </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<% include ../templates/shop-footer %>
