<div class="sortSection">
    <div class="form-row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-7">
        <h6 class="sortierenTitle"><span>Sortieren nach: </span>

          <div class="DropTriangle sortieren select-arrow">
            <select>
              <option value="" selected="selected">Reihenfolge</option>
              <option value="">Meistverkauft</option>
              <option value="">Alphabetisch Z-A</option>
              <option value="">Preis niedrig bis hoch</option>
              <option value="">Preis absteigend</option>
              <option value="">Datum, neu zu alt</option>
              <option value="">Datum, alt nach neu</option>
            </select>
          </div>
        </h6>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-5 text-right">
        <h6 class="sortierenTitle">Show
          <div class="DropTriangle sortieren-show select-arrow">
            <select>
              <option value="" selected="selected">9</option>
              <option value="">18</option>
              <option value="">27</option>
              <option value="">36</option>
              <option value="">45</option>
              <option value="">54</option>
              <option value="">63</option>
              <option value="">72</option>
            </select>

          </div>
          <a class="mobileFiterOpen" href="javascript:;"><img src="images/len.jpg"
              alt=""></a>
        </h6>
      </div>
    </div>
    <hr>
  </div>